<div>
    <h1>Bienvenidos a la {{title}}, {{name}}.</h1>
</div>
<hr>
<div>
    <h2>Todos los productos</h2>
    {{ListaProducts}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>